@import "../constants.css";

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  color: var(--text-primary);
}

form a {
  padding-top: 3vh;
  color: var(--primary);
  font-size: 1.23rem;
  font-weight: 600;
  transition: 100ms ease;
}

form a:hover{
  text-decoration: none;
}

input {
  border: 2px solid var(--foreground);
  padding: 3vh 8vw;
  text-align: center;
  margin-bottom: 5vh;
  transition: 300ms ease;
  color: var(--text-secondary);
  font-size: 2ch;
  border-radius: 12px;
}

input:focus {
  transform: scale(1.025) translateY(-0.6%);
  box-shadow: 0px 1px 15px rgba(27, 26, 26, 0.38);
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  text-align: center;
  background-color: var(--primary);
  color: var(--high-contrast-fg);
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: 200ms ease;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  transform: scale(1.03);
  box-shadow: 0px 1px 15px rgba(27, 26, 26, 0.38);
}

.restaurant-hint {
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: var(--edge-border-right);
  margin-left: var(--edge-border-left);
}

.restaurant-hint a {
  color: var(--primary);
  font-weight: 600;
  transition: 100ms ease;
}

.restaurant-hint a:hover{
  text-decoration: none;
}

.footer {
  padding-top: 1vh;
}
