@import "../constants.css";

.container {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

.error-catcher {
  display: none;
}

.no-display {
  display: none;
}

.template-rendering-parameter {
  display: none;
}

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "★★★★★";
  color: lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "★★★★★";
  color: gold;
  overflow: hidden;
}

/* SCROLLBAR  */
body::-webkit-scrollbar{
  width:0.5ch;
}

body::-webkit-scrollbar-track{
  background-color: black;
}

body::-webkit-scrollbar-thumb{
  background-color: white;
  /* border-radius: 100vw; */
}

body{
  scrollbar-color: white black;
  scrollbar-width: thin;
}

/* STARS property */

.stars-0:after {
  width: 0%;
}
.stars-5:after {
  width: 5%;
}
.stars-10:after {
  width: 10%;
}
.stars-15:after {
  width: 15%;
}
.stars-20:after {
  width: 20%;
}
.stars-25:after {
  width: 25%;
}
.stars-30:after {
  width: 30%;
}
.stars-35:after {
  width: 35%;
}
.stars-40:after {
  width: 40%;
}
.stars-45:after {
  width: 45%;
}
.stars-50:after {
  width: 50%;
}
.stars-55:after {
  width: 55%;
}
.stars-60:after {
  width: 60%;
}
.stars-65:after {
  width: 65%;
}
.stars-70:after {
  width: 70%;
}
.stars-75:after {
  width: 75%;
}
.stars-80:after {
  width: 80%;
}
.stars-85:after {
  width: 85%;
}
.stars-90:after {
  width: 90%;
}
.stars-95:after {
  width: 95%;
}
.stars-100:after {
  width: 100%;
}

/* STARS PROPERTY END */
