:root {
    font-family: "Montserrat", sans-serif;
}

.header {
    padding-left: var(--edge-border-left);
    padding-right: var(--edge-border-right);
    padding-bottom: 5vh;
    background-color: var(--foreground);
    color: var(--text-secondary);
    font-family: "Nunito", sans-serif;
}

.header h3 {
    font-size: 4rem;
    padding: 5vh 0vw;
    margin: 0;
}

.header-list-item-container {
    font-size: 1.23rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 5vh;
}

.header-list-item-container h6 {
    font-size: 1.5rem;
    margin: 0;
}

.header-list-item-container p {
    padding-left: 1ch;
    text-decoration: underline;
    margin: 0;
}

.header a {
    color: var(--text-secondary);
}

.body-holder {
    /* min-height: 38vh; */
    color: var(--text-primary);
    padding-left: var(--edge-border-left);
    padding-right: var(--edge-border-right);
}

.orders-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-card {
    width: 91%;
    display: flex;
    flex-direction: row;
    padding: 3vh 2vw;
    margin: 3vh 0;
    /* min-height: 4vh; */
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
}

.order-card img {
    width: 15%;
    border-radius: 100vw;
    aspect-ratio: 1;
    padding: 0;
    object-fit: cover;
    margin: 0;
}

.order-card-content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1vh 3vw;
}

.order-card-content h5{
font-size: 2rem;
margin: 0;
}



.order-info-list-item-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 2vh 0;
}

.order-info-list-item-container h6{
font-size: 1rem;
margin: 0;
}

.order-info-list-item-container p{
    padding-left: 1ch;
    margin: 0;
}

.logout-button-div{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

.logout-button{
    border:none;
    border-radius:4rem;
    width: 8.5rem;
    height: 2.8rem;
    font-size: 1rem;
    opacity: 90%;
    color:var(--text-secondary);
    background-color:var(--primary);
}

.logout-button:hover{
    cursor: pointer;
    opacity: 100%;
}