@import "/constants.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  font-family: "Nunito", sans-serif;
  font-family: "Montserrat", sans-serif;
}

#header-carousel-container {
  background-color: var(--foreground);
}

#header-carousel-tag {
  color: var(--text-secondary);
  display: flex;
  justify-content: center;
  padding: 0.38%;
}

.carousel-tag h3 {
  font-size: 1.3rem;
}

#header-carousel {
  padding-left: var(--edge-border-left);
  padding-right: var(--edge-border-right);
  color: var(--text-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-carousel-card {
  display: flex;
  justify-content: top;
  align-items: center;
  margin-bottom: 2.8vh;
  padding: 2.8vh 1.4vw 1vh 1.4vw;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text-primary);
  font-size: 1.15rem;
  /* width: calc((100vw - var(--edge-border-left) - var(--edge-border-right) - (1.5vw)*2 - 0.6rem*6) / 3 ); */
  cursor: pointer;
  transition: 420ms ease;
  border-radius: 8px;
  height: 100%;
}

.header-carousel-card:hover {
  transform: scale(1.038) translateY(-1vh);
}

.header-carousel-card img {
  width: calc(
    (93vw - var(--edge-border-left) - var(--edge-border-right)) / 3 - 2vw
  );
  height: calc(
    ((93vw - var(--edge-border-left) - var(--edge-border-right)) / 3 - 2vw) *
      (9 / 16)
  );
  /* width:100%;
  height: 100%; */
  object-fit: cover;
  border-radius: 10px;
}

.header-carousel-card h4 {
  margin: 0.8rem 0rem 0.8rem 0rem;
}

.header-carousel-card p {
  margin: 0;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.header-carousel-card span {
  font-size: 2rem;
}

#food-carousel-container {
  background-color: var(--background);
}

#food-carousel-tag {
  color: var(--text-primary);
  display: flex;
  justify-content: left;
  margin-left: var(--edge-border-left);
}

#food-carousel {
  padding-left: var(--edge-border-left);
  padding-right: var(--edge-border-right);
  color: var(--text-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.food-carousel-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 1.5vw 1.5vh 0rem;
  padding: 0rem 0.6rem 1rem 0.6rem;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text-primary);
  font-size: 1.15rem;
  cursor: pointer;
  transition: 420ms ease;
  border-radius: 6px;
  width: calc(
    (100vw - var(--edge-border-left) - var(--edge-border-right) - 16vw) / 6
  );
  font-family: "Roboto", sans-serif;
}

.food-carousel-card:hover {
  box-shadow: 0px 1px 13px hsl(0deg 0% 0% / 0.25);
}

#food-carousel-card6 {
  margin: 0rem 0rem 1.5vh 0rem;
}
/* 
@media only screen and (max-width: 1200px) {
  #food-carousel-card6 {
    display: none;
  }
  #food-carousel-card5 {
    margin: 0rem 0rem 1.5vh 0rem;
  }
  .food-carousel-card {
    width: calc(
      (100vw - var(--edge-border-left) - var(--edge-border-right) - 16vw) / 5
    );
  }
}

@media only screen and (max-width: 1000px) {
  #food-carousel-card5 {
    display: none;
  }
  #food-carousel-card4 {
    margin: 0rem 0rem 1.5vh 0rem;
  }
  .food-carousel-card {
    width: calc(
      (100vw - var(--edge-border-left) - var(--edge-border-right) - 16vw) / 4
    );
  }
}

@media only screen and (max-width: 800px) {
  #food-carousel-card4 {
    display: none;
  }
  #food-carousel-card3 {
    margin: 0rem 0rem 1.5vh 0rem;
  }
  .food-carousel-card {
    width: calc(
      (100vw - var(--edge-border-left) - var(--edge-border-right) - 16vw) / 3
    );
  }
} */

.food-carousel-card-image {
  width: calc(
    (93vw - var(--edge-border-left) - var(--edge-border-right) - 1.5vw * 5) / 6 -
      3vw
  );
  height: calc(
    (
      (93vw - var(--edge-border-left) - var(--edge-border-right) - 1.5vw * 5) /
        6 - 3vw
    )
  );
  object-fit: cover;
  border-radius: 100%;
  margin: 0.8vw 0 0.8vh 0;
}

.food-carousel-card h5 {
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  padding-top: 5%;
  letter-spacing: 0.075em;
}

.food-carousel-card h2 {
  margin-top: 5%;
  margin-bottom: 0%;
  font-weight: 800;
  font-size: 1.2rem;
  /* color: var(--primary); */
}

.food-carousel-card span {
  margin: 0;
  font-size: 1.5rem;
}

.body {
  padding-left: var(--edge-border-left);
  padding-right: var(--edge-border-right);
  margin-top: 3.8vh;
}

.body-title {
  display: flex;
  flex-direction: row;
  margin: 1vh 0 1vh 0;
}

.body-title p {
  font-size: 2rem;
  margin: 0;
  color: var(--text-primary);
  padding: 0;
  font-weight: 400;
}

#body-title-showing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--text-primary);
  padding: 0;
  font-weight: 200;
  cursor: pointer;
}

.body-showing-dropdown {
  margin-left: 1ch;
}

.body-showing-dropdown-button {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.body-showing-dropdown-button:hover,
.body-showing-dropdown-button:focus {
  opacity: 83%;
}

.body-showing-dropdown-button img {
  width: 1rem;
  transform: rotateZ(0deg);
  transition: 250ms ease;
  margin-left: 1ch;
}
.body-showing-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* buttons inside the dropdown */
.body-showing-dropdown-content button {
  color: var(--text-primary);
  background-color: var(--background);
  padding: 1vw 1vh;
  display: block;
  border: none;
  text-align: center;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid var(--text-primary);
}

#body-title-showing span {
  border-bottom: 2px solid var(--text-primary);
}

.body-showing-dropdown-content button:hover {
  text-decoration: underline;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.body-items {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 100vh;
  padding-bottom: 8vh;
}

.body-card-dish {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 3vh 1.3vw 3vh 1.3vw;
  margin-bottom: 4vh;
  width: 20%;
  border-radius: 12px;
  cursor: pointer;
  transition: 200ms linear;
  background-color: var(--background);
  color: var(--text-primary);
}

@media only screen and (max-width: 1000px) {
  .body-card-dish {
    width: 30%;
  }
}

.body-card-dish:hover {
  box-shadow: 0px 1px 13px hsl(0deg 0% 0% / 0.25);
  transform: scale(1.01);
}

.body-card-dish div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.body-card-dish div h3 {
  color: var(--text-primary);
  margin: 0;
  padding: 1vh 0vw;
}

.body-card-dish div img.dish-thumbnail {
  width: 88%;
  height: 18vh;
  object-fit: cover;
  border-radius: 8px;
  background-color: var(--background);
}

.body-card-dish div h2 {
  color: var(--text-primary);
  margin: 0;
  padding: 1vh 0vw;
}

.body-card-dish div p {
  padding: 2vh 0;
  margin: 0;
  text-align: center;
}

.dish-card-stars {
  font-size: 2rem;
}

.body-card-star-holder {
  display: flex;
}

.rating-holder {
  display: flex;
  flex-direction: row;
}

.rating-holder span {
  font-size: 1.5rem;
  margin-left: -50%;
}

.vegan-and-image-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 3%;
}

.vegan-indicator {
  width: 0.69rem;
  height: 0.69rem;
  position: relative;
  left: 50%;
  top: 0%;
  padding: 0%;
  margin: 0%;
  /* display: none; */
}

.body-card-restaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3vh 1.3vw 3vh 1.3vw;
  margin-bottom: 4vh;
  width: 45%;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 1px 13px hsl(0deg 0% 0% / 0.25);
  transition: 200ms linear;
}

@keyframes body-card-restaurant-hover {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.07);
  }
  80% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1.03);
  }
}

.body-card-restaurant:hover {
  animation-name: body-card-restaurant-hover;
  animation-duration: 300ms;
  animation-timing-function: ease;
  transform: scale(1.03);
}

.body-card-restaurant img {
  width: 9vw;
  height: 16vh;
  object-fit: cover;
  margin-right: 1ch;
  border-radius: 8px;
  background-color: var(--foreground);
}

.body-card-restaurant div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.body-card-restaurant div div h3 {
  margin: 0;
}

.body-card-restaurant div div span {
  font-size: 1.5rem;
}

.scrollToTopBtn {
  position: fixed;
  bottom: 5vh;
  right: 2vw;
  z-index: 8;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  background-color: var(--background);
  box-shadow: var(--foreground) 0px 0px 4px;
  color: (--primary);
}

.scrollToTopBtn .divBtn:after {
  font-size: 2rem;
  content: "▲";
  color: (--primary);
  cursor: pointer;
}

@keyframes scroll-to-top-hover {
  0% {
    content: "▲";
  }
  15% {
    transform: rotate(-15deg);
  }
  50% {
    content: "🍓";
  }
  85% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.scrollToTopBtn:hover .divbtn {
  animation-name: scroll-top-top-hover;
  animation-iteration-count: 1;
  animation-duration: 123ms;
  content: "🍓";
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

/* MOBILE  */
@media only screen and (max-width: 750px) {
  #header-carousel {
    flex-direction: row;
    justify-content: center;
    overflow: scroll;
  }

  .header-carousel-card {
    width: 80vw;
    margin: 1rem;
  }

  .header-carousel-card img {
    width: 90%;
    height: 22vh;
  }

  .header-carousel-card p {
    width: 90%;
    overflow: hidden;
    text-align: end;
  }

  #food-carousel {
    overflow: scroll;
  }

  .food-carousel-card {
    width: 40%;
    margin-right: 1rem;
  }

  .food-carousel-card-image {
    width: 90%;
    height: auto;
    aspect-ratio: 1;
  }

  #body-showing-dropdown-items {
    left: 5vw;
    width: 90vw;
  }

  .switch-body-showing-button {
    height: 6vh;
    font-size: 1rem;
  }

  .body-card-dish {
    width: 45%;
    margin: 0;
    margin-bottom: 3vh;
    padding: 0.6vh 2vw;
  }

  .body-card-dish div h3 {
    font-size: 1rem;
    padding-bottom: 0.7vh;
  }

  .body-card-dish div h2 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  .body-card-dish div p {
    padding: 0.7vh 0;
  }

  .body-card-dish span {
    font-size: 1.5rem;
  }

  .dish-thumbnail {
    width: 98%;
    height: auto;
    aspect-ratio: 1;
  }

  .body-card-restaurant {
    width: 100vw;
    padding: 2vh 2vw;
    height: 13vh;
    margin: 0;
    margin-bottom: 1.23vh;
    color: var(--text-primary);
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid var(--text-primary);
  }

  .body-card-restaurant img {
    width: auto;
    height: 95%;
    aspect-ratio: 1;
  }

  .body-card-restaurant div p {
    overflow: hidden;
    height: 7vh;
    margin-top: 2px;
  }
}
