:root {
  /* font-family: "Nunito", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

.orders-container {
  color: var(--text-primary);
  padding-top: 4vh;
  padding-right: var(--edge-border-right);
  padding-left: var(--edge-border-left);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orders-pending-container {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orders-card {
  width: 88%;
  display: flex;
  flex-direction: row;
  padding: 3vh 2vw;
  margin: 3vh 0;
  /* min-height: 4vh; */
  color: var(--text-primary);
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
  transition: 200ms ease;
}

.orders-card:hover {
  transform: scale(1.008);
  z-index: 2;
}

.orders-card img {
  width: 25%;
  border-radius: 1.23rem;
  aspect-ratio: 1;
  padding: 0;
  object-fit: cover;
  margin: 0;
}

.orders-card-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1vh 3vw;
  min-width: 70%;
}

.orders-card-content h5 {
  font-size: 2rem;
  margin: 0;
}

.orders-info-list-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2vh 0;
}

.orders-info-list-item-container h6 {
  font-size: 1rem;
  margin: 0;
}

.orders-info-list-item-container p {
  padding-left: 1ch;
  margin: 0;
}

.delivery-orders-button {
  background-color: var(--primary);
  color: var(--text-secondary);
  border: none;
  border-radius: 40rem;
  width: 8rem;
  height: 2.5rem;
  font-size: 0.8rem;
  opacity: 90%;
}

.delivery-orders-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.delivery-orders {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.past-orders-button {
  background-color: var(--primary);
  color: var(--text-secondary);
  border: none;
  border-radius: 40rem;
  width: 8rem;
  height: 2.5rem;
  font-size: 0.8rem;
  opacity: 50%;
}
.past-orders-button:hover {
  cursor: not-allowed;
}
