@import "/constants.css";

:root {
  font-family: "Montserrat", sans-serif;
}

form {
  margin-top: 1vh;
}

input {
  padding: 2vh 8vw;
  text-align: center;
  margin-bottom: 3vh;
  transition: 300ms ease;
  color: var(--foreground);
  font-size: 2ch;
  border-radius: 12px;
  color: var(--text-primary);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--text-primary);
}

.body-branding {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 50%;
}

@keyframes body-branding-deliverymanfloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.3vh)
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes body-branding-deliverymanpopup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.deliveryman-popup{
  animation-name: body-branding-deliverymanpopup;
  animation-duration: 1234ms;
  animation-iteration-count: 1;
}

.deliveryman-popup-done {
  animation-name: body-branding-deliverymanfloat;
  animation-duration: 3333ms;
  animation-iteration-count: infinite;
}

.body-branding img {
  width: 100%;
  transform-origin: 50% 100%;
  object-fit: contain;
  animation-timing-function: ease;
  z-index: 3;
}

.body {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: var(--edge-border-left);
  margin-right: var(--edge-border-right);
}

#navbar-profile-item {
  display: none;
}

.footer{
  position: relative;
  z-index: 10;
}


.register-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.register-button .popuptext {
  visibility: hidden;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.695);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50%;
}

.register-button .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.38rem;
  border-width: 0.38rem;
  border-style: solid;
  border-color: rgba(255, 0, 0, 0.695) transparent transparent transparent;
}

.register-button .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@media only screen and (max-width: 800px) {
  .body-branding {
    display: none;
  }
  .restaurant-hint {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3vh;
  }
  .restaurant-hint a {
    font-size: 0.83rem;
    text-align: center;
  }
  .form-container h1 {
    padding: 0;
  }
  .form-container form {
    margin-top: 1vh;
  }
  .login-button input {
    padding: 2vh 25vw;
  }
  .form-container form input[type="email"],
  .form-container form input[type="password"] ,
  .form-container form input[type="text"] {
    padding: 2vh 3vw;
    margin:0;
    margin-bottom: 3vh;
  }
  .form-container form input:active {
    transform: scale(0.9);
  }
  .form-container a {
    font-size: 0.83rem;
    padding-bottom: 5vh;
  }
  .forgot-pass a{
    font-size: 1rem;
  }
}
