<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/dashboard.css" />
    <title>Dashboard</title>
  </head>

  <body>
    <div class="container holder">
      <div class="container">$%=Navbar</div>

      <div class="container header">
        <div class="logout-button-div">
          <h3>#%=username</h3>
          <button
            class="logout-button"
            onclick="window.location.href='/user/logout'"
          >
            LOGOUT <i class="fa fa-sign-out"></i>
          </button>
        </div>

        <div>
          <div class="header-list-item-container">
            <h6>Email :</h6>
            <p id="user-email-display"></p>
          </div>
          <a id="change-password-link" href="javascript:void(0)"
            >Change password</a
          >
        </div>
      </div>
      <div class="container body-holder">
        <h3>Your order history :</h3>
        <div class="orders-container container" id="orders-holder">
          Loading ...
        </div>
      </div>
    </div>

    <div id="passwordModal" class="modal">
      <div class="password-modal-content">
        <p id="passwordModalError">Something went wrong</p>
        <p id="passwordModalSuccess">Something went wrong</p>
        <form action="">
          <h5>Current Password</h5>
          <input
            class="modal-input"
            type="password"
            id="curr-pass"
            placeholder="Enter your current password"
            autocomplete="current-password"
          />
          <h5>New Password</h5>
          <input
            class="modal-input"
            type="password"
            id="new-pass"
            placeholder="Enter your new password"
            autocomplete="new-password"
          />
          <h5>Confirm New Password</h5>
          <input
            class="modal-input"
            type="password"
            id="confirm-pass"
            placeholder="Confirm your new password"
            autocomplete="new-password"
          />
          <button id="changePasswordButton">Change Password</button>
        </form>
      </div>
    </div>

    $%=ThemeTogglerButton
    $%=Footer $%=Preloader
  </body>
  <script src="/static/js/dashboard.js"></script>
</html>
