<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/dashboard.css" />
    <title>Dashboard</title>
  </head>

  <body>
    <div class="container holder">
      <div class="container">$%=Navbar</div>

      <div class="container header">
        <div class="logout-button-div">
          <h3>#%=username</h3>
          <button
            class="logout-button"
            onclick="window.location.href='/user/logout'"
          >
            LOGOUT <i class="fa fa-sign-out"></i>
          </button>
        </div>

        <div>
          <div class="header-list-item-container">
            <h6>Email :</h6>
            <p id="user-email-display"></p>
          </div>
          <a href="/">Change password</a>
        </div>
      </div>
      <div class="container body-holder">
        <h3>Your order history :</h3>
        <div class="orders-container container" id="orders-holder">
          Loading ...
        </div>
      </div>
    </div>

    $%=Footer $%=Preloader
  </body>
  <script src="/static/js/dashboard.js"></script>
</html>
