<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/forgot-password.css" />
    <title>MarsFood - forgot password</title>
  </head>
  
  <body>
    <div class="container">
      <div class="card">
        <img
          src="https://images.pexels.com/photos/1633525/pexels-photo-1633525.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="card-header-image"
        />
        <div class="holder">
          <h1>Forgot Password</h1>
          <h3>Enter your registered email to reset your password</h3>
          <div class="enter-email">
            <form >
              <input
              placeholder="Email-Address"
              type="email"
              name="email"
              id="email-field"
              required
              autocomplete="email"
              />
              <button type="button" class="send-otp-btn" id="forgotPassButton">send mail</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- <script src="/static/js/forgot-password.js"></script> -->
  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <script src="/static/js/forgot-password.js"></script>
  </html>
  