<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Help</title>
    <link rel="stylesheet" href="/static/styles/help.css" />
  </head>

  <body>
    <div>$%=Navbar</div>
    <div class="block">
      <div class="help-heading">
        <h1>Help & Support</h1>
        <p>Let's take a step ahead and help you better.</p>
      </div>
      <div class="inner-block">
        <span class="top-block">
          <button id="button2" onclick="helpShowCustomers()">Customer</button>
          <button id="button1" onclick="helpShowRestaurents()">Restaurants</button>
        </span>
        <div class="left-block">
          <ul style="list-style-type: none">
            <li id="list-item2" onclick="helpShowCustomers()">
              Help for Customers
            </li>
            <li id="list-item1" onclick="helpShowRestaurents()">
              Help for Restaurants
            </li>
          </ul>
        </div>
        <div class="right-block">
          <!-- Help for Restaurants -->
          <div id="help-for-restaurents">
            <h1>Help for Restaurants</h1>
            <ul style="list-style-type: none">
              <div class="help-list-title-container">
                <li
                  class="list-restaurents"
                  onclick="showContentR(this)"
                  id="rcontent1"
                >
                  I want to partner my restaurant with MarsFood
                </li>
                <p id="rselector1">&#x25BC;</p>
              </div>
              <a href="/restaurant/auth" id="rpara1"
                >Click here to partner with us</a
              >
              <hr />
              <div class="help-list-title-container">
                <li
                  class="list-restaurents"
                  onclick="showContentR(this)"
                  id="rcontent2"
                >
                  What are the documents needed to list my restaurant on
                  MarsFood?
                </li>
                <p id="rselector2">&#x25BC;</p>
              </div>
              <ul id="rpara2" style="list-style-type: none">
                <li>None, yeah, that's right, none at all</li>
                <li>
                  all you need is a valid email id and you're all set to sell on
                  MarsFood
                </li>
              </ul>
              <hr />
              <div class="help-list-title-container">
                <li
                  class="list-restaurents"
                  onclick="showContentR(this)"
                  id="rcontent3"
                >
                  After I register, how long will it take for my restaurant to
                  show on MarsFood?
                </li>
                <p id="rselector3">&#x25BC;</p>
              </div>
              <p id="rpara3">
                With Just a snap of finger, your restaurant will be live on
                MarsFood! As soon as you upload atleast one dish your restaurant
                will start being visible to all our users
              </p>
              <hr />

              <div class="help-list-title-container">
                <li
                  class="list-restaurents"
                  onclick="showContentR(this)"
                  id="rcontent4"
                >
                  Who should I contact if I need help & support in getting
                  onboarded?
                </li>
                <p id="rselector4">&#x25BC;</p>
              </div>
              <p id="rpara4">reach out to us on partnersuport@marsfood.in</p>
              <hr />

              <div class="help-list-title-container">
                <li
                  class="list-restaurents"
                  onclick="showContentR(this)"
                  id="rcontent5"
                >
                  How much commission will I be charged by MarsFood
                </li>
                <p id="rselector5">&#x25BC;</p>
              </div>
              <p id="rpara5">
                None! Marsfood does not charge the restaurants anything to use
                our platform to grow their business.
              </p>
              <hr />
            </ul>
          </div>

          <!-- Help for customer -->
          <div id="help-for-customer">
            <h1>Help for Customers</h1>
            <ul style="list-style-type: none">
              <div class="help-list-title-container">
                <li
                  class="list-customer"
                  onclick="showContentC(this)"
                  id="ccontent1"
                >
                  I want to provide Feedback
                </li>
                <p id="cselector1">&#x25BC;</p>
              </div>
              <p id="cpara1">
                If you wish to provide feedback about a specific dish you
                ordered, you can do so by visiing the dish's page and submitting
                a review over there. If you wish to write a feedback about
                MarsFood as a service you can contact us at marsfood.online@gmail.com or marsfood.online@rediffmail.com.
              </p>
              <hr />
              <div class="help-list-title-container">
                <li
                  class="list-customer"
                  onclick="showContentC(this)"
                  id="ccontent2"
                >
                  Can I edit my order?
                </li>
                <p id="cselector2">&#x25BC;</p>
              </div>
              <p id="cpara2">
                Once order is placed and restaurant starts preparing your food,
                you can not edit its contents
              </p>
              <hr />
              <div class="help-list-title-container">
                <li
                  class="list-customer"
                  onclick="showContentC(this)"
                  id="ccontent3"
                >
                  Can I order in advance?
                </li>
                <p id="cselector3">&#x25BC;</p>
              </div>
              <p id="cpara3">
                We currently do not support this functionality. All our orders
                are placed and executed on-demand.
              </p>
              <hr />

              <div class="help-list-title-container">
                <li
                  class="list-customer"
                  onclick="showContentC(this)"
                  id="ccontent4"
                >
                  How long do you take to deliver?
                </li>
                <p id="cselector4">&#x25BC;</p>
              </div>
              <p id="cpara4">
                Standard delivery times vary by the location selected and
                prevailing conditions. Once you select your location, an
                estimated delivery time is mentioned for each restaurant.
              </p>
              <hr />

              <div class="help-list-title-container">
                <li
                  class="list-customer"
                  onclick="showContentC(this)"
                  id="ccontent5"
                >
                  I want to cancel my order
                </li>
                <p id="cselector5">&#x25BC;</p>
              </div>
              <p id="cpara5">
                We will do our best to accommodate your request if the order is
                not placed to the restaurant (Customer service
                number:8445050264). Please note that we will have a right to
                charge a cancellation fee up to full order value to compensate
                our restaurant and delivery partners if your order has been
                confirmed.
              </p>
              <hr />

              <div class="help-list-title-container">
                <li
                  class="list-customer"
                  onclick="showContentC(this)"
                  id="ccontent6"
                >
                  Do you charge for delivery?
                </li>
                <p id="cselector6">&#x25BC;</p>
              </div>
              <p id="cpara6">
                Delivery fee varies from city to city and is applicable if order
                value is below a certain amount. Additionally, certain
                restaurants might have fixed delivery fees. Delivery fee (if
                any) is specified on the 'Review Order' page.
              </p>
              <hr />
            </ul>
          </div>
        </div>
      </div>
    </div>
    $%=Footer $%=Preloader
  </body>
  <script src="/static/js/help.js"></script>
</html>
