<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MarsFood</title>
    <link rel="stylesheet" href="/static/styles/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">$%=Navbar</div>

    <div class="container" id="header-carousel-container">
      <div class="container carousel-tag" id="header-carousel-tag">
        <h3>Most Popular Placeholder</h3>
      </div>
      <div class="container" id="header-carousel"></div>
    </div>

    <div class="container" id="food-carousel-container">
      <div class="container carousel-tag" id="food-carousel-tag">
        <h3>Most Popular Placeholder</h3>
      </div>
      <div class="container" id="food-carousel"></div>
    </div>

    <div class="container body">
      <div class="body-title">
        <p>Show me</p>
        <div class="body-showing-dropdown">
          <div class="body-showing-dropdown-button">
            <button id="body-title-showing">
              <span>Dropdown</span>
              <img src="static/assets/dropdown-arrow-line.png" alt="\/" />
            </button>
          </div>
          <div
            id="body-showing-dropdown-items"
            class="body-showing-dropdown-content"
          >
            <button
              class="switch-body-showing-button"
              id="switch-body-showing-button1"
              onclick="switchBodyShowingButton(this)"
            >
              Dishes
            </button>
            <button
              class="switch-body-showing-button"
              id="switch-body-showing-button2"
              onclick="switchBodyShowingButton(this)"
            >
              Restaurants
            </button>
          </div>
        </div>
      </div>

      <div class="container body-items">
        Loading ...
      </div>
    </div>
    <button class="scrollToTopBtn showBtn"><div class="divBtn"></div></button>
    $%=Footer $%=Preloader
  </body>
  <script src="/static/js/home.js"></script>
</html>
