<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/orders.css" />
    <title>Orders</title>
  </head>

  <body>
    <div class="container">$%=RestaurantNavbar</div>
    <div class="orders-container">
      <div class="orders-pending">
        <h1>Orders pending</h1>
        <div
          class="orders-card-container pending"
          id="pending-orders-holder"
        ></div>

        <div class="past-orders">
          <h1>Past orders</h1>
          <div class="orders-card-container past" id="past-orders-holder"></div>
        </div>
      </div>
    </div>
    $%=Footer $%=Preloader
  </body>
  <script src="/static/js/orders.js"></script>
</html>
