<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/restaurant.css" />
    <title>Restaurant</title>
  </head>
  <body>
    <div class="container" id="body-holder">
      <div class="container">$%=Navbar</div>
      <div class="container header" id="header-holder">
        <div class="container" id="header-restaurant-image-container"></div>
        <div class="header-right">
          <h1 id="header-restaurant-name"></h1>
          <div id="restaurant-rating-container"></div>
          <p id="header-restaurant-address"></p>
          <p id="header-food-orders"></p>
          <div id="header-seller-text"></div>
        </div>
      </div>
      <div class="container body-content">
        <h3>Dishes :</h3>
        <div class="container" id="body-content-holder"></div>
      </div>
    </div>
    $%=Footer $%=Preloader
  </body>
  <script src="/static/js/restaurant.js"></script>
</html>
