<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/styles/restaurant-home.css" />
  </head>
  <body>
    <div class="container">$%=RestaurantNavbar</div>
    <div class="restaurant-container">
      <div class="restaurant-bg"><span>
        loading
      </span>
      </div>
      <div class="restaurant-detail">
        <div class="logout-button-div">
          <h1 id="display-name">Dashboard</h1>
          <button
            class="logout-button"
            onclick="window.location.href='/restaurant/logout'"
          >
            LOGOUT <i class="fa fa-sign-out"></i>
          </button>
        </div>
        <p id="display-address">Address :</p>
        <p id="display-email">Email :</p>
        <a href="#">Edit details</a>
      </div>
      <div class="add-new-dish">
        <button
          class="add-dish-button"
          onclick="window.location.href='/restaurant/dish/new'"
        >
          ADD NEW DISH <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="container body-holder">
      <h3>Your Dishes :</h3>
      <div class="dish-container container" id="dishes-holder">
        Loading ...
      </div>
    </div>
    $%=Footer $%=Preloader
  </body>
  <script src="/static/js/restaurant-home.js"></script>
</html>
