<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>restaurantName</title>
    <link rel="stylesheet" href="/static/styles/restaurant-home.css" />
  </head>
  <body>
    <div class="container">$%=RestaurantNavbar</div>
    <a href="/restaurant/dish/new">ADD NEW DISH</a>
    $%=Footer
    $%=Preloader
  </body>
  <script src="/static/js/restaurant-home.js"></script>
</html>
